.design img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card {
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 20px;
}

.new {
    color: blue;
    font-weight: bold;
}

.menu {
    background-color: lightgreen;
}

.ui {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 30px;
    color: black;
}

.line {
    width: 100%;
    color: #000;
}

.offcanvas {
    width: 60%;
}

.quantity {
    width: 30px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.quantity-btn {
    border-radius: 50%;
    width: 30px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quantity-icon {
    display: flex;
    gap: 15px;
    justify-content: center;
}


/* .kiismet {
    margin-top: 110px;
} */